{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Post{% endblock %}</h1>

{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" class="title" value="{{ request.form['title'] }}" required>
        <label for="body">Body</label>
        <div class="inline">

            <textarea name="body" class="mk-editor" id="editor-edit"
                      onkeyup="convert()">{{ request.form['body'] }}</textarea>

            <div id="editor-show" class="markdown-body"></div>
        </div>
        <div>
            <input type="submit" value="保存" class="button button-3d button-action button-pill">
            <input type="button" value="取消" class="button button-3d button-action button-pill"
                   onclick="window.location.href='/'">
        </div>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/trans.js') }}"></script>
    <!-- <script type="text/javascript">
    function convert(){
        var text = document.getElementById("body").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(text);
        document.getElementById("show-area").innerHTML = html;
    }
    </script>  -->


{% endblock %}
