{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}新建文档{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
    <span>
        <label for="class" style="font-size: 1.5rem; margin-left: 5px">分类:</label>
            <select name="class" id="class" class="selections">
            {% for class in classes %}
                <option value="{{ class['id'] }}">{{ class['classname'] }}</option>
            {% endfor %}
            </select>
        <label for="title" style="margin-left: 50px; font-size: 1.5rem">标题:</label>
        <input name="title" id="title" class="title" value="{{ request.form['title'] }}" required>
    </span>
        <label for="intro" style="font-size: 1.2rem; margin-left: 5px">简介</label>
        <textarea name="intro" id="intro" class="intro" value="{{ request.form['intro'] }}" required></textarea>
        <span>
        <label>编辑</label>
        <label style="margin-left: calc(48% - 5px) !important;">预览</label>
        </span>
        <div class="inline">

            <textarea name="body" class="mk-editor" id="editor-edit"
                      onkeyup="convert()">{{ request.form['body'] }}</textarea>

            <div id="editor-show" class="markdown-body"></div>
        </div>
    {% include 'blog/buttons.html' %}
    </form>
    <hr>

    <script type="text/javascript" src="{{ url_for('static', filename='js/trans.js') }}"></script>



{% endblock %}
