{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}新建文档{% endblock %}</h1>

{% endblock %}

{% block content %}
    <form method="post">
    <span>
        <label for="class">
<select>
<option value="volvo">Volvo</option>
<option value="saab">Saab</option>
<option value="opel">Opel</option>
<option value="audi">Audi</option>
</select>
</label>
        <label for="title">标题</label>
        <input name="title" id="title" class="title" value="{{ request.form['title'] }}" required>
    </span>
        <label for="intro">简介</label>
        <textarea name="intro" id="intro" class="intro" value="{{ request.form['intro'] }}" required></textarea>
        <span>
        <label>编辑</label>
        <label style="margin-left: calc(48% - 5px) !important;">预览</label>
        </span>
        <div class="inline">

            <textarea name="body" class="mk-editor" id="editor-edit"
                      onkeyup="convert()">{{ request.form['body'] }}</textarea>

            <div id="editor-show" class="markdown-body"></div>
        </div>
        <div>
            <input type="submit" value="保存" class="button button-3d button-action button-pill">
            <input type="button" value="取消" class="button button-3d button-action button-pill"
                   onclick="window.location.href='/'">
        </div>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/trans.js') }}"></script>
    <!-- <script type="text/javascript">
    function convert(){
        var text = document.getElementById("body").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(text);
        document.getElementById("show-area").innerHTML = html;
    }
    </script>  -->


{% endblock %}
