{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}手册大全{% endblock %}</h1>
    {% if g.user %}
        {% if g.user['power'] > 0 %}
            <a class="action" href="{{ url_for('blog.create') }}">新建</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% for class in classes %}
        <span>
            <a>{{ class['classname'] }}</a>
        </span>
    {% endfor %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1><a href="{{ url_for('blog.view', id=post['id']) }}"
                           style="text-decoration: none">{{ post['title'] }}</a></h1>
                    <div class="about">由 {{ post['username'] }} 于 {{ post['created'].strftime('%Y-%m-%d') }} 最后编辑</div>
                </div>
                {#        {% if g.user['id'] == post['author_id'] %}#}

                {% if g.user %}
                    <a class="action" href="{{ url_for('blog.view', id=post['id']) }}">查看</a>
                    {% if g.user['power'] > 0 %}
                        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">编辑</a>

                        <a class="action" href="{{ url_for('blog.delete', id=post['id']) }}" onclick="return confirm('确定要删除本文档？');">删除</a>
                    {% endif %}
                {% endif %}
            </header>
            <p class="body">{{ post['intro'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}