{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}查看 《{{ post['title'] }}》{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <div style="margin-top: 20px">
            <a class="title" style="align-items: center">{{ post['title'] }}</a>
        </div>
        <br>
        <span>
        <label>目录</label>
        <label style="margin-left: calc(18%) !important;">文档</label>
        </span>
        <div>
            <div class="inline">

                <div id="catalog" class="catalog"></div>
                <textarea name="body" class="mk-editor-view"
                          id="editor-edit">{{ post['body'] }}</textarea>

                <div id="editor-show" class="markdown-body"
                     style="width: calc(80% - 5px) !important; margin-left: calc(1% - 5px)"></div>
            </div>
        </div>

            <input type="button" value="返回" class="button button-3d button-action button-pill" style="margin-top: 5px"
                   onclick="window.location.href='/'">

    </div>
    <hr>


    <script type="text/javascript" src="{{ url_for('static', filename='js/trans.js') }}"></script>
{% endblock %}