<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
{% if g.user %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown.css') }}">
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/loginreg.js') }}"></script>
{% endif %}
<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
            <li><span>你好，{{ g.user['username'] }}
                <input type="button" value="注销" class="button button-rounded button-small" style="margin-left:10px"
                       onClick="location.href='{{ url_for('auth.logout') }}'"></span>
                {% else %}
            <li><span>
            <input type="button" value="登录" class="button button-rounded button-small" style="margin-left:10px"
                   onclick="ShowLogin()">
            <input type="button" value="注册" class="button button-rounded button-small" style="margin-left:10px"
                   onclick="ShowReg()"></span>

            <div id="shade" class="c1 hide"></div>


            <form id="loginmodal" class="c2 hide" method="post" action="{{ url_for('auth.login') }}">
                <div><span class="headline">登录</span></div>
                <label for="username" class="logcontent">用户名：</label>
                <input name="username" id="username" required>
                <label for="password" class="logcontent">密&nbsp&nbsp&nbsp码：</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="登录" class="button button-rounded button-small" style="margin-left:10px">
                <input type="button" value="取消" class="button button-rounded button-small" style="margin-left:10px"
                       onclick="Hide()">
            </form>

            <form id="regmodal" class="c2 hide" method="post" action="{{ url_for('auth.register') }}">
                <div class="logo"><span class="headline">注册</span></div>
                <label for="username" class="logcontent">用户名：</label>
                <input name="username" id="username" required>
                <label for="password" class="logcontent">密&nbsp&nbsp&nbsp&nbsp码：</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="注册" class="button button-rounded button-small" style="margin-left:10px">
                <input type="button" value="取消" class="button button-rounded button-small" style="margin-left:10px"
                       onclick="Hide()">
            </form>



        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}

        {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>